@import url("http://fonts.googleapis.com/css?family=Cardo"); 
@import url("http://fonts.googleapis.com/css?family=Lato");
/* put hyphen in name to distinguish from regular font
*/
@font-face {
    font-family: 'GFS-Porson';
/*    src: url('http://heml.mta.ca/rigaudon/static/Fonts/Porson/GFSPorson.eot');
    src: url('http://heml.mta.ca/rigaudon/static/Fonts/Porson/GFSPorson.eot?#iefix') format('embedded-opentype');
*/ 
   src: url('http://heml.mta.ca/rigaudon/static/Fonts/Porson/GFSPorson.woff') format('woff'),
         url('http://heml.mta.ca/rigaudon/static/Fonts/Porson/GFSPorson.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    
    unicode-range:
         U+590-5ff, U+300-345, U+370-3ff, U+1e00-1fff;
}
/*
span.ocr_word {
    margin:0 0.1em;
     background:#faf; 
}
*/
body {
  font-family: 'GFS-Porson', 'Lato';
/*
  font-family:  'GFS-Porson', 'New Athena Unicode', 'GFS Philostratos', serif;
*/
  font-size: 16px;
  background: #eec;
  line-height: 130%;
}

span.ocr_word:first-of-type {
    margin-left:0;
}

span.ocr_word:last-of-type {
    margin-right:0;
}

span.ocr_line {
    display: block;
}

span.ocr_line + br {
    display: none;
}
p{
    margin: 0;
    padding: 0;
}

p span:first-child {
	text-indent: 2em;
}

p:first-child span:first-child {
       text-indent: 0em;
}
