#centeredmenu {
   float:left;
   width:100%;
   background:#fff;
   border-bottom:2px solid #222; 
   border-top: 2px solid #222;
   overflow:hidden;
   position:relative;
}
#centeredmenu ul {
   clear:left;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   left:50%;
   text-align:center;
}
#centeredmenu ul li {
   display:block;
   float:left;
   list-style:none;
   margin:0;
   padding:0;
   position:relative;
   right:50%;
 /*  font-family: sans-serif;*/
   font-size: 10px;
}
#centeredmenu ul li a {
   display:block;
   margin:0 0 0 1px;
   padding:2px 5px;
   background:#ddd;
   color:#000;
   text-decoration:none;
   line-height:1.3em;
}
#centeredmenu ul li a:hover {
   background:#369;
   color:#fff;
}
#centeredmenu li.this a{
	color:#fff;
	background:#555;
}
#centeredmenu ul li a.active,
#centeredmenu ul li a.active:hover {
   color:#fff;
   background:#000;
   font-weight:bold;
}

li.previous-off  {
	color:#088; 
}

