@import url(http://fonts.googleapis.com/css?family=Junge);
@import url("http://fonts.googleapis.com/css?family=Cardo");
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);

body {
  font-family: 'Cardo', 'Junge', serif;
  font-size: 16px;
}

 div#banner { 
/*       position: absolute; 
       top: 0; 
       left: 0; */
       background-color: #666; 
       width: 100%; 
       color: #fff;
       padding: 7px;
       font-style: bold;
	font-size: 14pt;
     }

#page_image{
        width: 50%;
        float:left;
	margin-top: 10px;
        }
#page_right{
        width: 50%;
        float:left;
        }
h1 { 
font-size: 12pt; 
font-weight: bold; 
text-align: left; 
display:inline; 
}

#footer {
clear:both;
/*background:#cc9;*/
}
p {
font-family: 'Cardo', serif;
margin-bottom: 5px;
margin-top: 0px;
}

h3.textinfo {
/*	font-family: sans-serif; */
	font-size: 12pt;
	margin: 5px;
	margin-top: 10px;
}
h3.textinfo a {
	text-decoration: none;
	color: inherit;
}
p.data {
	font-family:'Droid Sans';
	font-size: 10pt;
}
