@import url(http://fonts.googleapis.com/css?family=Junge);
@import url("http://fonts.googleapis.com/css?family=Cardo");
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url("http://fonts.googleapis.com/css?family=Quicksand");
div.line {
   float:left;
   width:100%;
   background:#fff;
   border-bottom:2px solid #222;
   border-top: 2px solid #222;
   overflow:hidden;
   position:relative;
}

body {
  font-family: 'Quicksand', 'Cardo', 'Junge', serif;
  font-size: 16px;
}


tr.headerRow {  
	font-family: 'Droid Sans';
	font-weight: bold;
	font-size: 16px;
  }

tr.tableRow {
	font-family: 'Droid Sans';
	font-size: 12px;
}
h3.data {
	font-family: "Droid Sans";
	font-size: 10pt;
}

pre { 
	font-family: "Droid Sans";
	font-size: 10pt;
	margin: 10px;
}
 div#banner { 
/*       position: absolute; 
       top: 0; 
       left: 0; */
  font-family:'Quicksand';
  color:#38558F;
      background-color:#eee;
       width: 100%; 
      /* color: #fff;*/
       padding: 7px;
       font-style: bold;
	font-size: 14pt;
     }

span#main_title {
    font-size: 18pt;
}
     div#banner span {
	     margin-left: 50px;
     }
     div#banner span.lesser {
	     font-size: 12pt;
	     }
div#banner span a {
        text-decoration: none;
	color: inherit;
	}

#page_image{
        width: 50%;
        float:left;
	margin-top: 10px;
        }
#page_right{
        width: 50%;
        float:left;
        }
h1 { 
font-size: 12pt; 
font-weight: bold; 
text-align: left; 
display:inline; 
}

h2 {
	font-size: 14pt;
}
#footer {
clear:both;
/*background:#cc9;*/
}

#footer p {
font-size: 10pt;
}

#textFrame {
border: none;
}
p {
font-family: 'Cardo', serif;
font-size: 12pt;
margin-bottom: 5px;
margin-top: 10px;
}

h3.textinfo {
/*	font-family: sans-serif; */
	font-size: 12pt;
	margin: 5px;
	margin-top: 10px;
        text-indent: -2em; 
        margin-left: 2em;
}
h3.textinfo a {
	text-decoration: none;
	color: inherit;
}
p.data {
	margin-top: 10px;
	font-family:'Droid Sans';
	font-size: 10pt;
}

img.chart {
	border:1px solid #222;
}
a:link {
	color:#000080;
	text-decoration:none;
}

a:visited {
	color:#666666;
	text-decoration: none;
}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}
