{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block top %}
{% filter markdown %}
Bruce Robertson
---------------
Bruce Robertson is Head of the Department of Classics at [Mount Allison University](http://www.mta.ca) in Canada. He received his PhD in Classics at the University of Toronto, and has worked on several digital initiatives. 

Federico Boschetti
------------------
Federico Boschetti works at the ILC/CNR in Pisa, Italy. He earned a PhD in Classical Philology at the  University of Trento (Italy). There he took a second PhD, in Brain and Cognitive Sciences - Language, Computation and Interaction. 
 
His main fields of research are Formal and Computational Philology, Corpus Analysis, and Greek Philology. His other current work includes [Greek Into Arabic](http://www.greekintoarabic.eu).

{% endfilter %}
{% endblock %}
{% block right_side %}
{% endblock %}
