{% extends "layout.html" %}
{% block title %}Index{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .important { color: #336699; }
  </style>
{% endblock %}
{% block top %}
<br/>
{% filter markdown %}
 __"Everybody's got something to hide, except for me and my monkey." ([The Beatles](https://www.youtube.com/watch?v=9lngGPsJ1pQ))__ 

Welcome
--------
This is a repository of Greek OCR results that, for various reasons, cannot be made publicly available.
At present, there are no volumes contained here; I'm just checking the authentication. 

{% endfilter %}
{% endblock %}
{% block right_side %}
{% endblock %}
