<div id="centeredmenu">
<script type="text/javascript">

function page_back() 
{
    window.location.href = "{{ page_before }}";
}

function page_forward()
{
    window.location.href = "{{ page_after }}";
}
</script>
<ul>
	<li class="previous{% if (not page_before_exists) %}-off{% endif %}">
	{% if page_before_exists %}
	<a href="{{ page_before }}">
		{% else %}
	<a href="#">	
		{% endif %}
		«Previous
	</a>
		</li>

{% for section in pagination_array %}
<li {% if section[2] %}class="this"{% endif %}><a href="{{ section[1] }}">{{ section[0] }}</a></li>
{% endfor %}
<li class="next{% if (not page_after_exists) %}-off{% endif %}">
{% if page_after_exists %}
<a href="{{ page_after }}">
{% else %}
<a href="#">
{% endif %}
Next »
</a>
</li>
</ul>
</div>
