{% extends "layout.html" %}
{% block scripts %}
<!-- I plan to put scripts here -->
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
    <script type='text/javascript'>
      google.load('visualization', '1', {packages:['table']});
      google.setOnLoadCallback(drawTable);
      function drawTable() {
        var data = new google.visualization.DataTable();
	data.addColumn('string', 'Date (click to view)');
        //data.addColumn('string', '');
        data.addColumn('string', 'B-score');
        data.addColumn('string', 'Classifier');
	data.addColumn('string', 'OCR Stages');
        data.addColumn('string', 'Completion');
        data.addColumn('string', 'D/l Archive');
        data.addColumn('string', 'D/l Edited');
        data.addRows([
{% for run in text_info.date_sorted_runs() %}
['{{ run.date}} <a href="{{ url_for('render_page',hocrtype_id=run.prefered_hocrtype().id)}}">View</a>', '{{ run.db_correct() }}', '{{ run.classifier }}', '{% for hocrtype in run.sorted_hocrtypes() %}<a href="{{ url_for('render_page',hocrtype_id=hocrtype.id)}}">{{hocrtype.hocr_type_string()}}</a><br/>{% endfor %}', '{{ run.db_completed() }}', '{% if run.link_to_tar_file() %} <a href="{{run.link_to_tar_file()}}">.tar.gz</a> {% endif %} {% if run.link_to_zip_file() %} &nbsp;<a href="{{run.link_to_zip_file()}}">.zip</a> {% endif %}','<a href="{{run.exist_zip()}}">.zip</a>']{% if not loop.last %},{% endif %}
{% endfor %}
        ]);

        var table = new google.visualization.Table(document.getElementById('table_div'));
	var formatter = new google.visualization.DateFormat({pattern: "yyyy-MM-dd-HH-mm"});
	formatter.format(data, 0); // Apply formatter to second column
	table.draw(data, {sortColumn: 0, sortAscending: false, allowHtml: true,'width': 1200,cssClassNames:  {headerRow: 'headerRow', tableRow: 'tableRow'}});
      }
    </script>
{% endblock %}
{% block title %}OCR Runs for {{ text_info.archive_number }} {% endblock %}
{% block top %}
{% include "textinfo.html" %}
{% endblock %}
{% block image_left %}
<h3>Runs</h3>
 <div id='table_div'></div>
<!--
<i>If there is no table above, you may be encountering an incompatibility with Internet Explorer. We will try to fix this in the coming days. In the meantime, please try this same page with <a href="http://www.getfirefox.com">Firefox</a> or Google <a href="ttps://www.google.com/intl/en/chrome/browser/">Chrome.</a></i>
-->
{% endblock %}
{% block right_side %}
{% endblock %}
~                
